@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">جواب سوالات به منو مراجعه کنید</h1>
    <p>
        code-first database 
    </p>
    <p>
       1- create database    aspnetMoghanloo46-TestKASRACompany  
    </p>
    <p>2- run  Update-Database in pakage manager console </p>

</div>

